@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
#ww {
  color: black;
}
.shopCard {
  position: absolute;
  right: 210px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
.shopCardCount {
  position: absolute;
  top: 8px;
  right: 205px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  color: white;
  padding: 3px;
  width: 15px;
  height: 15px;
}
.shopCardCount p {
  font-size: 10px;
  font-weight: 700;
}
.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.grid.container {
  margin-top: 45px;
}

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}
.carditems {
  margin: 100px;
}
.carditems hr {
  height: 3px;
  background: #e2e2e2;
  border: none;
}
.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}
.carticon-product-icon {
  height: 62px;
}
.cartitems-remove-icon {
  width: 15px;
  margin: 0 40px;
  cursor: pointer;
}
.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.cartitems-down {
  display: flex;
  margin: 100px 0;
}
.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.cartitems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cartitems-promocode p {
  color: #555;
}
.cartitems-promobox {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
  display: flex;
}
.cartitems-promobox input {
  width: 330px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 16px;
  background: transparent;
}
.cartitems-promobox button {
  width: 170px;
  height: 58px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
